# --- OS ---
.DS_Store

# --- Python ---
__pycache__/
*.pyc

# --- Node ---
node_modules/

# --- Vite build output ---
dist/

# --- Static (ignore generated/staticfiles only) ---
staticfiles/

# Ignore only project-root "static" folder (not Cineflow/static or app-level static)
#/static/

# Allow vendored DRF fonts inside Cineflow/static
!Cineflow/static/
!Cineflow/static/rest_framework/
!Cineflow/static/rest_framework/fonts/
!Cineflow/static/rest_framework/fonts/fontawesome-webfont.eot
!Cineflow/static/rest_framework/fonts/fontawesome-webfont.woff
!Cineflow/static/rest_framework/fonts/fontawesome-webfont.ttf
!Cineflow/static/rest_framework/fonts/fontawesome-webfont.svg