# --- OS ---
.DS_Store

# --- Python ---
__pycache__/
*.pyc

# --- Node ---
node_modules/

# --- Vite build output ---
dist/

# --- Static (ignore everything by default) ---
staticfiles/
static/

# Allow the specific DRF font files we vendor
!Cineflow/static/
!Cineflow/static/rest_framework/
!Cineflow/static/rest_framework/fonts/
!Cineflow/static/rest_framework/fonts/fontawesome-webfont.eot
!Cineflow/static/rest_framework/fonts/fontawesome-webfont.woff
!Cineflow/static/rest_framework/fonts/fontawesome-webfont.ttf
!Cineflow/static/rest_framework/fonts/fontawesome-webfont.svg
