Django==5.2.3
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.7.0
dj-database-url==2.2.0
whitenoise==6.7.0

# Email
django-anymail==13.1

cloudinary==1.44.0
django-cloudinary-storage==0.3.0
pillow==11.3.0

colorthief==0.2.1

# Postgres
psycopg2-binary==2.9.10

# Auth / 2FA
PyJWT==2.10.1
pyotp==2.9.0
qrcode==7.4.2
